NEXT_PUBLIC_ABLY_UPLOAD_FRAME_RATE=1
NEXT_PUBLIC_CLUB2D_API_URL=https://region-project-name.cloudfunctions.net/app
# To point clients to locally running cloud functions (../functions).
# NEXT_PUBLIC_CLUB2D_API_URL=http://localhost:8000/project-name/region/app